branca==0.3.1
certifi==2022.12.7
chardet==3.0.4
Click==7.0
decorator==4.4.1
Flask==1.1.1
folium==0.10.1
future==0.18.2
geocoder==1.38.1
geographiclib==1.50
geopy==1.21.0
gunicorn==20.0.4
heroku==0.1.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
numpy==1.18.0
pandas==1.0.1
postgres==3.0.0
psycopg2-binary==2.8.4
psycopg2-pool==1.1
python-dateutil==2.8.1
pytz==2019.3
ratelim==0.1.6
requests==2.22.0
six==1.13.0
urllib3==1.25.7
Werkzeug==0.16.0
