
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Celestron CG-4 German Equatorial Mount and Tripod REVIEW</title>
  	<meta name="description" content="Review for the Celestron CG-4 German Equatorial Mount and Tripod. (AN HONEST REVIEW)">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153516768-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-153516768-2');
    </script>

  </head>

  <body>
  <style>
    html {
      scroll-behavior: smooth;
    }
	@media screen and (max-width: 600px) {
	  #onmobile {
	    visibility: hidden;
	    clear: both;
	    float: left;
	    margin: 10px auto 5px 20px;
	    width: 28%;
	    display: none;
	  }
	}


 	</style>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="/blog" style="color: red;">Blog</a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="/blog" style="font-weight: bold;">The Asteroid Collision Blog</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="/blog">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
            <a class="btn btn-sm btn-outline-secondary" href="/blog">View More</a>
          </div>
        </div>
      </header>

<!--      <div class="nav-scroller py-1 mb-2">-->
<!--        <nav class="nav d-flex justify-content-between">-->
<!--          <a class="p-2 text-muted" href="#">World</a>-->
<!--          <a class="p-2 text-muted" href="#">U.S.</a>-->
<!--          <a class="p-2 text-muted" href="#">Technology</a>-->
<!--          <a class="p-2 text-muted" href="#">Design</a>-->
<!--          <a class="p-2 text-muted" href="#">Culture</a>-->
<!--          <a class="p-2 text-muted" href="#">Business</a>-->
<!--          <a class="p-2 text-muted" href="#">Politics</a>-->
<!--          <a class="p-2 text-muted" href="#">Opinion</a>-->
<!--          <a class="p-2 text-muted" href="#">Science</a>-->
<!--          <a class="p-2 text-muted" href="#">Health</a>-->
<!--          <a class="p-2 text-muted" href="#">Style</a>-->
<!--          <a class="p-2 text-muted" href="#">Travel</a>-->
<!--        </nav>-->
<!--      </div>-->

      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic font-weight-bold" style="font-size: 30px;">Celestron CG-4 German Equatorial Mount and Tripod</h1>
          <p class="lead my-3">This in-depth review will talk about the pros and cons about the Celestron CG-4 German Equatorial Mount.</p>
          <p class="lead mb-0"><a href="#" class="font-weight-bold" type="button" onclick="onclickfunccelestron()">Scroll to continue...</a></p>
        </div>
      </div>

<!--      <div class="row mb-2" id="onmobile">-->
<!--        <div class="col-md-6">-->
<!--          <div class="card flex-md-row mb-4 box-shadow h-md-250">-->
<!--            <div class="card-body d-flex flex-column align-items-start">-->
<!--              <strong class="d-inline-block mb-2 text-primary">Astronomy</strong>-->
<!--              <h3 class="mb-0">-->
<!--                <a class="text-dark" href="http://asteroidcollision.herokuapp.com/asteroid-earth">This asteroid could hit earth in 2024</a>-->
<!--              </h3>-->
<!--              <div class="mb-1 text-muted">June 4th 2020</div>-->
<!--              <p class="card-text mb-auto">This article will elaborate on an asteroid that could hit earth soon.</p>-->
<!--              <a href="http://asteroidcollision.herokuapp.com/asteroid-earth">Continue Reading</a>-->
<!--            </div>-->
<!--&lt;!&ndash;            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--          <div class="card flex-md-row mb-4 box-shadow h-md-250">-->
<!--            <div class="card-body d-flex flex-column align-items-start">-->
<!--              <strong class="d-inline-block mb-2 text-success">Space</strong>-->
<!--              <h3 class="mb-0">-->
<!--                <a class="text-dark" href="https://asteroidcollision.herokuapp.com/near-asteroids">Near Earth Asteroids List</a>-->
<!--              </h3>-->
<!--              <div class="mb-1 text-muted">June 1st</div>-->
<!--              <p class="card-text mb-auto">An insightful list containing 7 near earth asteroids that you can track!</p>-->
<!--              <a href="/near-asteroids">Continue reading</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            Equatorial Mount Review:
          </h3>

          <div class="blog-post">
            <h2 class="blog-post-title">Celestron CG-4 German Equatorial Mount and Tripod REVIEW</h2>
            <p class="blog-post-meta">June 1st by <a href="/blog">Paul McBurney Jr</a></p>

            <p>By the end of this article, you'll know whether not the <a href="https://amzn.to/3eLVpMD"> Celestron CG-4 German Equatorial Mount and Tripod </a> is worth your purchase.</p>
            <hr>
            <center><a target="_blank"  href="https://www.amazon.com/gp/product/B0033GD9CO/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0033GD9CO&linkCode=as2&tag=asteroid02e-20&linkId=8342eeb95da868e9b8c8898475b65c13"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0033GD9CO&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=asteroid02e-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=asteroid02e-20&l=am2&o=1&a=B0033GD9CO" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></center>
            <hr>
                        <h3>About</h3>

            <p>The <a href="https://amzn.to/3eLVpMD"> Celestron CG-4 German Equatorial Mount</a> is an <strong>sturdy</strong> and <strong>reliable</strong> mount/tripod manufactured by Celestron.</p>
            <blockquote>
              <p>"One of the best astronomy purchases I have made in a while." - Bart Brown</p>
            </blockquote>
            <p><a href="https://amzn.to/3eLVpMD">Celestron</a> is a world famous company in Torrance, California that builds and designs microscopes, telescopes and all sorts of optical technologies.</p>
            <p><a href="https://amzn.to/3eLVpMD"> View Current Celestron Mount Price on Amazon &larr;</a></p>
              <hr>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-2104426707154383"
     data-ad-slot="7915911327"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

            <h3>Reasons to Purchase</h3>
            <p><a href="https://amzn.to/3eLVpMD">Celestron</a> is a well known optical instrument manufacturer. By purchasing their equatorial mount you'll recieve these benefits.</p>
            <ul>
              <li><strong>2 year </strong>long warranty.</li><br>
              <li><strong>2 counterweights </strong>included. (7lb & 4lb)</li><br>
              <li>Comes with <strong>RA and DDC </strong>slow motion control systems.</li><br>
            </ul>

            <p>The <a href="https://amzn.to/3eLVpMD">German Equatorial Mount</a> can also be compacted down and transported with ease. </p>
              <p>Furthermore, the mounts 10 pound weight allows it to be operated and moved with ease. The mount's lightweight attributes means it can be operated by kids that want to get into the astronomy hobby.</p>

            <hr>
            <h3>Price Range</h3>
            <p>At the time of publication, the <a href="https://amzn.to/3eLVpMD">German Equatorial Mount</a> sits just below $290 dollars. Click on the link below to view the updated price on Amazon.</p>
              <p><a href="https://amzn.to/3eLVpMD">View Current Price on Amazon &larr;</a></p>
            <p>Although it seems a bit extra for a mount, this is one of the best deals you'll be seeing for medium-quality mounts. Not to mention that Celestron's sturdy and well engineered technology flies high above other mount manufacturers.</p>
            <hr><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=asteroid02e-20&marketplace=amazon&region=US&placement=B0033GD9CO&asins=B0033GD9CO&linkId=dcedb9da16bb4600db22b0511b6d6518&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe><hr>
              <h3>Overall</h3>
              <p>Overall, the <a href="https://amzn.to/3eLVpMD">German Equatorial Mount</a> is a great option for amateur astronomers. It's portablity allows it to be moved with ease. Many mount users say that they often travel with their <a href="https://amzn.to/3eLVpMD">Celestron Equatorial Mount</a>.</p>
            <ul>
              <li><strong>Current Price: </strong><a href="https://amzn.to/3eLVpMD">View on Amazon</a></li><br>
              <li><strong>Mount: </strong>German Equatorial Mount</li><br>
              <li><strong>Definite Price: </strong>Below $200</li><br>
              <li><strong>Counterweights: </strong>4-7lb</li><br>
              <li><strong>Latitude Adjustment: </strong>20-60 DEGREES</li><br>

            </ul>
            <hr>
            <h3>Conclusion</h3>
            <p>All in all, the Celestron German Equatorial Mount is a great first telescope AND an amazing choice for experienced astronomers.</p>
            <p><a href="https://amzn.to/3eLVpMD"> View Updated Price On Amazon &larr;</a></p>
                          <hr>

<!--            <hr>-->
<!--            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<!--<ins class="adsbygoogle"-->
<!--     style="display:block; text-align:center;"-->
<!--     data-ad-layout="in-article"-->
<!--     data-ad-format="fluid"-->
<!--     data-ad-client="ca-pub-2104426707154383"-->
<!--     data-ad-slot="7915911327"></ins>-->
<!--<script>-->
<!--     (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--</script>-->
          </div>



          <nav class="blog-pagination" style="margin-bottom: 1em; margin-top: 1em;">
            <a class="btn btn-outline-primary" href="/blog">Home</a>
            <a class="btn btn-outline-secondary" href="/near-asteroids">Next</a>
          </nav>

        </div>

        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">About Asteroid Collision</h4>
            <p class="mb-0">A high quality blog ran by astronomy hobbyists to astrophysics in between. We strive to write high quality reviews about advanced optical equipment. Read our reviews to get insightful information about the latest optical gear and telescopes.</p>
          </div>
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">Recommended:</h4>
              <center>
              <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=asteroid02e-20&marketplace=amazon&region=US&placement=B0033GD9CO&asins=B0033GD9CO&linkId=b9b12113e5be6d0cdb6f63b949637ea7&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>
                  </center>
<!--            <p class="mb-0">The Asteroid Collision blog is a website built and maintained by astronomers and space enthusiasts from around the world. We write about current events, space news and even provide our readers with reviews on new products.</p>-->
          </div>
          	<div class="p-3 mb-3 bg-light rounded">
            <div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fb+5w+4e-db+86"
     data-ad-client="ca-pub-2104426707154383"
     data-ad-slot="4606307034"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
          </div>
          <div class="p-3">
            <h4 class="font-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
               <li><a href="/blog">May 2020</a></li>
              <li><a href="/blog">April 2020</a></li>
              <li><a href="/blog">March 2020</a></li>
              <li><a href="/blog">February 2020</a></li>
              <li><a href="/blog">January 2020</a></li>
              <li><a href="/blog">December 2019</a></li>
              <li><a href="/blog">November 2019</a></li>
              <li><a href="/blog">October 2019</a></li>
              <li><a href="/blog">September 2019</a></li>
              <li><a href="/blog">August 2019</a></li>
              <li><a href="/blog">July 2019</a></li>
              <li><a href="/blog">June 2019</a></li>
              <li><a href="/blog">May 2019</a></li>
              <li><a href="/blog">April 2019</a></li>
            </ol>
          </div>

<!--          <div class="p-3">-->
<!--            <h4 class="font-italic">Elsewhere</h4>-->
<!--            <ol class="list-unstyled">-->
<!--              <li><a href="/blog">GitHub</a></li>-->
<!--              <li><a href="/blog">Twitter</a></li>-->
<!--              <li><a href="/blog">Facebook</a></li>-->
<!--            </ol>-->
<!--          </div>-->
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->
    <footer class="blog-footer" style="margin-top: 1em;">
    	<hr>
      <p><a href="https://asteroidcollision.herokuapp.com/blog"> Asteroid Collision Blog</a> &copy; 2019-2020</p>
      <p><a href="https://asteroidcollision.herokuapp.com/"> Asteroid Collision Simulation</a> Game</p>
      <p><a href="https://getbootstrap.com/docs/4.0/examples/blog/"> Bootstrap Blog</a> Template Used</p>

    </footer>
    </main><!-- /.container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  <script>
    function onclickfunccelestron() {
      window.scrollBy(0, 700);
    }
  </script>
  </body>
</html>
