
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SZYT Telescope Refractor Review</title>
  	<meta name="description" content="In depth review for the SZYT Telescope Refractor. A Telescope for Astronomy Beginners.">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153516768-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-153516768-2');
    </script>

  </head>
  <body>
  <style>
    html {
      scroll-behavior: smooth;
    }
	@media screen and (max-width: 600px) {
	  #onmobile {
	    visibility: hidden;
	    clear: both;
	    float: left;
	    margin: 10px auto 5px 20px;
	    width: 28%;
	    display: none;
	  }
	}


 	</style>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="/blog" style="color: red;">Back</a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="/blog" style="font-weight: bold;">Asteroid Collision Blog</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
            <a class="btn btn-sm btn-outline-secondary" href="/blog">Home</a>
          </div>
        </div>
      </header>

<!--      <div class="nav-scroller py-1 mb-2">-->
<!--        <nav class="nav d-flex justify-content-between">-->
<!--          <a class="p-2 text-muted" href="#">World</a>-->
<!--          <a class="p-2 text-muted" href="#">U.S.</a>-->
<!--          <a class="p-2 text-muted" href="#">Technology</a>-->
<!--          <a class="p-2 text-muted" href="#">Design</a>-->
<!--          <a class="p-2 text-muted" href="#">Culture</a>-->
<!--          <a class="p-2 text-muted" href="#">Business</a>-->
<!--          <a class="p-2 text-muted" href="#">Politics</a>-->
<!--          <a class="p-2 text-muted" href="#">Opinion</a>-->
<!--          <a class="p-2 text-muted" href="#">Science</a>-->
<!--          <a class="p-2 text-muted" href="#">Health</a>-->
<!--          <a class="p-2 text-muted" href="#">Style</a>-->
<!--          <a class="p-2 text-muted" href="#">Travel</a>-->
<!--        </nav>-->
<!--      </div>-->

      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic font-weight-bold" style="font-size: 30px;">MaxUSee 70mm Refractor Telescope Review</h1>
          <p class="lead my-3">Is the MaxUSee 70mm Refractor Scope truly the right telescope for you?</p>
          <p class="lead mb-0"><a href="#" class="font-weight-bold" onclick="onclickfunccelestron()">Scroll down...</a></p>
        </div>
      </div>

      <div class="row mb-2" id="onmobile">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">Astronomy</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">In 2029 this asteroid could hit earth</a>
              </h3>
              <div class="mb-1 text-muted">May 31st</div>
              <p class="card-text mb-auto">Asteroid 99942 Apophis could hit earth in 2029. Click to learn more.</p>
              <a href="/asteroid-hit-earth">Continue Reading</a>
            </div>
<!--            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Space</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="https://asteroidcollision.herokuapp.com/near-asteroids">These asteroids might hit earth soon</a>
              </h3>
              <div class="mb-1 text-muted">June 1st</div>
              <p class="card-text mb-auto">An insightful list containing 7 near earth asteroids that could hit earth!</p>
              <a href="/near-asteroids">Continue reading</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            An Honest Review:
          </h3>

          <div class="blog-post">
            <h2 class="blog-post-title">MaxUSee 70mm Refractor Telescope Review</h2>
            <p class="blog-post-meta">June 4th by <a href="/blog">Paul McBurney Jr</a></p>

            <p>After our in depth review, you'll know whether not the<a href="https://amzn.to/3duFQbY"> SZYT Telescope Refractor for Beginners </a> is the telescope for you.</p>
                        <p><a href="https://amzn.to/3duFQbY"> View Current Price Amazon &larr;</a></p>

              <hr>
            <center><a href="https://www.amazon.com/SZYT-Telescope-Refractor-Astronomy-Exploring/dp/B085C6YJN5/ref=as_li_ss_il?ref_=s9_apbd_oup_hd_bw_b1B7H&pf_rd_r=7MGK426ND55B4G2FQKBN&pf_rd_p=17333895-5c4a-5d04-9a46-55e52f38eaf3&pf_rd_s=merchandised-search-10&pf_rd_t=BROWSE&pf_rd_i=281063&linkCode=li3&tag=asteroid02e-20&linkId=c6435eb54f90359843f6ddbe60a46322&language=en_US" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B085C6YJN5&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=asteroid02e-20&language=en_US" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=asteroid02e-20&language=en_US&l=li3&o=1&a=B085C6YJN5" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></center>
            <hr>
                        <h3>About</h3>

              <p>The <a href="https://amzn.to/3duFQbY"> SZYT Telescope Refractor </a> is a <b>lightweight</b> and <b>easy to use</b> telescope for astronomy beginners. It's cheap pricetag and easy assembly allows you to set it up in a breeze.</p>
            <p>Furthermore, it's a perfect gift for an astronomy or space loving relative. You can view the current price on Amazon with the link below.</p>
            <p><a href="https://amzn.to/3duFQbY"> View Current Price Amazon &larr;</a></p><hr>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-2104426707154383"
     data-ad-slot="7915911327"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
              <br>
            <h3>Why Buy?</h3>
            <p>The <a href="https://amzn.to/3duFQbY">SZYT Telescope</a> is a highly regarded piece of optical technology for astronomy beginners. It's 1.5X Erect Eyepiece allows telescope users to get a clean view of objects in the solar system. For it's price, it's about the best you'll get.</p>
              <p>In addition to this, indivduals who purchase directly from Amazon recieve these benefits.</p>
            <ul>
              <li><strong>Easiest </strong>telescope assembaly that does not require too.</li><br>
                <li><strong>Free</strong> shipping on orders over $25.00 shipped by Amazon.</li><br>
              <li><strong>1.5X</strong> eyepiece for superior viewing ability.</li><br>
              <li><strong>Cheapest</strong> telescope for astronomy beginners without sacrificing viewing quality.</li>
<!--              Amazon Eyepiece Affiliate Link Above-->
            </ul>
            <p><a href="https://amzn.to/3duFQbY"> View Current Price Amazon.com &larr;</a></p><hr>

            <hr>
            <h3>Price Range</h3>
              <p>For a beginner telescope, the <a href="https://amzn.to/3duFQbY">SZYT's</a> astronomically low price makes it a great purchase. View <a href="https://amzn.to/3duFQbY">current price on Amazon.</a></p>
            <p>Even for it's low pricetag, the telescope's viewing quality is not sacrificed. </p>
              <p>For astronomy hobbiests and beginners, the <a href="https://amzn.to/3duFQbY">SZYT Telescope</a> is a great steal. <i>"This is a great telescope for beginners"</i> says a reviewer named William McKay on Amazon.</p>
            <hr><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=asteroid02e-20&language=en_US&marketplace=amazon&region=US&placement=B085C6YJN5&asins=B085C6YJN5&linkId=d6b89e45a13df4f7b0f73183f2c3a692&show_border=true&link_opens_in_new_window=true"></iframe><hr>
              <h3>Features</h3>
              <p>Interesting Features & Benefits of the <a href="https://amzn.to/3duFQbY">SZYT Refractor Scope:</a></p>
            <ul>
<!--              <li><strong>Current Price: </strong><a href="https://amzn.to/3duFQbY">View on Amazon</a></li><br>-->
              <li><strong>It's Aluminium</strong> construction results in a lightweight and portable piece of stargazing equipment.</li><br>
              <li><strong>Simple </strong>setup. (No Tools Required)</li><br>
              <li><strong>Perfect </strong>for astronomy beginners or students eager to learn about space.</li><br>
            </ul>
            <hr>
            <h3>Conclusion</h3>
            <p>In conclusion, <a href="https://amzn.to/3duFQbY"> SZYT Telescope Refractor for Beginners</a> is probably one of the best options for individuals vying to become a star gazing hobbyist. It's cheap price, and easy assembaly makes it a breeze to get started with.</p>
            <p><a href="https://amzn.to/3duFQbY"> View Current Price on Amazon &larr;</a></p>
<!--            <hr>-->
<!--            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<!--<ins class="adsbygoogle"-->
<!--     style="display:block; text-align:center;"-->
<!--     data-ad-layout="in-article"-->
<!--     data-ad-format="fluid"-->
<!--     data-ad-client="ca-pub-2104426707154383"-->
<!--     data-ad-slot="7915911327"></ins>-->
<!--<script>-->
<!--     (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--</script>-->
            <hr>
          </div>



          <nav class="blog-pagination" style="margin-bottom: 1em; margin-top: 1em;">
            <a class="btn btn-outline-primary" href="/blog">Home</a>
            <a class="btn btn-outline-secondary" href="/near-asteroids">Next</a>
          </nav>

        </div>

        <aside class="col-md-4 blog-sidebar">

          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">About Asteroid Collision</h4>
            <p class="mb-0">The Asteroid Collision blog is a website built and maintained by astronomers and space enthusiasts from around the world. We write about current events, space news and even provide our readers with reviews on new products.</p>
          </div>
          	<div class="p-3 mb-3 bg-light rounded">
            <div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fb+5w+4e-db+86"
     data-ad-client="ca-pub-2104426707154383"
     data-ad-slot="4606307034"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
          </div>
          <div class="p-3">
            <h4 class="font-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
                           <li><a href="http://asteroidcollision.herokuapp.com/maxusee-70mm-refractor-telescope-review">June 2020</a></li>
               <li><a href="http://asteroidcollision.herokuapp.com/maxusee-70mm-refractor-telescope-review">May 2020</a></li>
              <li><a href="http://asteroidcollision.herokuapp.com/maxusee-70mm-refractor-telescope-review">April 2020</a></li>
              <li><a href="/blog">March 2020</a></li>
              <li><a href="/blog">February 2020</a></li>
              <li><a href="/blog">January 2020</a></li>
              <li><a href="/blog">December 2019</a></li>
              <li><a href="/blog">November 2019</a></li>
              <li><a href="/blog">October 2019</a></li>
              <li><a href="/blog">September 2019</a></li>
              <li><a href="/blog">August 2019</a></li>
              <li><a href="/blog">July 2019</a></li>
              <li><a href="/blog">June 2019</a></li>
              <li><a href="/blog">May 2019</a></li>
              <li><a href="/blog">April 2019</a></li>
            </ol>
          </div>

<!--          <div class="p-3">-->
<!--            <h4 class="font-italic">Elsewhere</h4>-->
<!--            <ol class="list-unstyled">-->
<!--              <li><a href="/blog">GitHub</a></li>-->
<!--              <li><a href="/blog">Twitter</a></li>-->
<!--              <li><a href="/blog">Facebook</a></li>-->
<!--            </ol>-->
<!--          </div>-->
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->
    <footer class="blog-footer" style="margin-top: 1em;">
    	<hr>
      <p><a href="https://asteroidcollision.herokuapp.com/blog"> Asteroid Collision Blog</a> &copy; 2019-2020</p>
      <p><a href="https://asteroidcollision.herokuapp.com/"> Asteroid Collision Simulation</a> Game</p>
      <p><a href="https://asteroidcollision.herokuapp.com/blog"> Astronomy/Space Blog</a> Homepage</p>
      <p><a href="https://getbootstrap.com/docs/4.0/examples/blog/"> Bootstrap Blog</a> Template Used</p>

    </footer>
    </main><!-- /.container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  <script>
    function onclickfunccelestron() {
      window.scrollBy(0, 700);
    }
  </script>
  </body>
</html>
