<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="A large asteroid could hit earth in 2024, it could cause terrible damages and effects.">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
    <title>This asteroid could hit earth in 2024. What will it cause?</title>
    <meta name="google-site-verification" content="ENQ9n1V4rvA6leMytUmttgBGMMBaH5NBZXMNwnWZDg0" />
<!--    <script data-ad-client="ca-pub-2104426707154383" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
</head>
<style>
    #header {
    width: 100%;
    background-color: #f2f2f2;
    height: 30px;
}

#container {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}
#first {
    width: 0%;
    float: left;
    height: 100%;
    background-color: #f2f2f2;
}
#second {
    width: 100%;
    float: left;
    height: 100%;
    background-color: #f2f2f2;
}

.mobileeffect {
    margin-left: 25%;
    margin-right: 25%;
}

@media (max-width: 760px) {
    #second {
        width: 100%;
        float: left;
        height: 100%;
        background-color: #f2f2f2;
    }
    #first {
        width: 0%;
        float: left;
        height: 100%;
        background-color: #f2f2f2;
    }
}


articleimg {
    width: 200px;
    height: 100%;
}
.twitter-share-button {
     margin-left: 25%;
}
.whyhellothere {
  width: 200px;
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}
</style>
<body>

<div id="container">
    <div id="second" style="margin-top: -1.75em; overflow-y: auto; overflow-x: hidden;"><br>
        {% include '_navbar.html' %}
        <h1 style="font-size: 30px; margin-top: 1em; font-weight: bold;" class="mobileeffect"> This asteroid could hit earth in 2024. What effects will it cause?</h1>
        <p class="mobileeffect">By Paul McBurney</p>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <div class="mobileeffects">
        <img src="static/asteroidhitearth.png" class="articleimg mobileeffect" style="margin-top: 1em; width: 50%;" alt="Picture of an asteroid that will hit earth in 2024.">
                </div>
        <p style="font-size: 13px;" class="mobileeffect">In 2024, a similar asteroid could hit earth. &darr;</p>
        <p style="font-size: 13px;" class="mobileeffect"><a href="/home" class="btn btn-primary">View Homepage</a></p>
        <hr>
        <h2 class="mobileeffect" style="font-size: 22px; margin-top: 1em;">Will an asteroid hit earth soon?</h2>
        <br>
        <p class="mobileeffect">Could this large asteroid hit earth in 2024?</p>
        <p class="mobileeffect"><b>Yes, it could!</b> It's hard to even imagine the disastrous effects and suffering that an asteroid impact could cause..</p>
        <p class="mobileeffect">2007 FT3 (Asteroid) was identified by NASA and classified as an <b>asteroid that could hit earth in 2024.</b> According to NASA's Sentry program, FT3 (Asteroid) is about <b>340 meters</b> in diameter. <b>(Also 1100 Feet)</b></p>
        <p class="mobileeffect">Now the question that many are asking is <b>"what would happen if 2007 FT3 hit earth?"</b></p>
        <p class="mobileeffect" style="margin-bottom: 2em;">We can use this <b>asteroid impact simulation</b> to see!</p>
        <div class="mobileeffects">
        <img src="static/2024sim.png" class="mobileeffect" style="width: 56%;" alt="Asteroid collision simulator that shows destruction from asteroids">
            </div>
        <p style="font-size: 13px;" class="mobileeffect">Photo From <a href="https://asteroidcollision.herokuapp.com/">Asteroid Collision Map</a> (An interactive asteroid map/game)</p>
        <hr style="margin-top: 1em; margin-bottom: 1em;">

        <p class="mobileeffect">According to the <b>linked simulation,</b> a worst case scenario could cause <b>disastrous effects</b> like skin burns, shockwaves, tsunamis, destroyed infastructure, and deaths.</p>
        <p class="mobileeffect">However, these results are unlikely because most of the world is <b>rural and unpopulated.</b> This means that an <b>asteroid collision</b> with these areas would result in <b>little to no casualties.</b> </p>
        <p class="mobileeffect">Furthermore, <b>70%</b> of the earths surface is accounted for by ocean. While huge asteroids can cause dangerous tsunamis, 2007 FT3 is not even close to that threat level.</p>
        <br>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle mobileeffect" style="margin-bottom: 1em;"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-2104426707154383"
     data-ad-slot="5662102945"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        <br>
        <p class="mobileeffect">Currently, it is proclaimed that FT3's chance of impact is <b>extremely</b> low. With varying impact percentages it can be impossible to know the true number, however it can be predicted that FT3 most likely not impact earth on October 2nd, 2022.</p>


        <p class="mobileeffect">Even though 2007 FT3 probably <b>won't hit earth,</b> these near misses prove a point that we must be ready for a situation similar to this. With growing concerns that extinction causing asteroids are coming our way, we need to be prepared.</p>
        <p class="mobileeffect">Scientists state that we are <b>5 million years overdue</b> for a <b>major asteroid collision</b> similar to the one that extincted the dinosaurs.</p>
        <hr>
        <p class="mobileeffect" style="font-size: 18px;">Want to control nature and <b>simulate asteroid collisions</b> yourself? Check out this interactive map!</p>        <a href="/" class="btn btn-danger mobileeffect">View Map!</a>

        <div id="AsteroidForm" class="whyhellothere">
  <form class="form-container">
    <div style="background-color: #f2f9f9; border-radius: 10px;">
        <p style="margin-left: 1em; margin-right: 1em; font-weight: bold; padding-top: 1em;">Popup:</p>
        <p style="margin-left: 1em; margin-right: 1em;">Check out our <b>asteroid impact simulator map!</b></p>
        <p style="margin-left: 1em; margin-right: 1em;">Control nature and <b>simulate the destruction/effects</b> of asteroids using our website! See how your city would be destroyed if an asteroid hit earth!</p>
        <br>
        <a href="/" style="color: green;" class="btn open">Open</a>
            <button type="button" class="btn cancel" onclick="begoneee()" style="color: red;">Close</button>

    </div>

  </form>
</div>
        <hr><p style="margin-left: 1em; text-align: center;">2020 Asteroid Collision Map &copy;</p>
        <script>
              document.getElementById("AsteroidForm").style.display = "block";
              function begoneee() {
                document.getElementById("AsteroidForm").style.display = "none";
              }
        </script>
</body>
</html>