<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Near earth asteroid list that lists different near earth asteroids that could hit earth.">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
    <title>Near Earth Asteroids List - They Could Hit Earth!</title>
    <meta name="google-site-verification" content="ENQ9n1V4rvA7leMytUmttgBGMMBaH5NBZXMNwnWZDg0" />
<!--    <script data-ad-client="ca-pub-2104427707154383" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
</head>
<style>
    #header {
    width: 100%;
    background-color: #f2f2f2;
    height: 30px;
}

#container {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}
#first {
    width: 0%;
    float: left;
    height: 100%;
    background-color: #f2f2f2;
}
#second {
    width: 100%;
    float: left;
    height: 100%;
    background-color: #f2f2f2;
}

.mobileeffect {
    margin-left: 25%;
    margin-right: 25%;
}

@media (max-width: 770px) {
    #second {
        width: 100%;
        float: left;
        height: 100%;
        background-color: #f2f2f2;
    }
    #first {
        width: 0%;
        float: left;
        height: 100%;
        background-color: #f2f2f2;
    }
}


articleimg {
    width: 200px;
    height: 100%;
}
.twitter-share-button {
     margin-left: 25%;
}
.whyhellothere {
  width: 210px;
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}
</style>
<body>

<div id="container">
    <div id="second" style="margin-top: -1.75em; overflow-y: auto; overflow-x: hidden;"><br>
        {% include '_navbar2.html' %}
        <h1 style="font-size: 30px; margin-top: 1em; font-weight: bold;" class="mobileeffect"> Near Earth Asteroid List - These 7 Near Earth Asteroids Could Hit Earth</h1>
        <p class="mobileeffect">By Paul McBurney | March 18th, 2020</p>
        <hr>
        <p class="mobileeffect">This <b>near earth asteroids list</b> lists several near earth asteroids asteroids that <b style="color: red;">could hit earth</b> and cause thousands of deaths and billions in damage. It's hard to even imagine the <b>terrible effects</b> that a major asteroid collision could cause.</p>
        <p class="mobileeffect">Most of the asteroids in this list likely will not hit earth <b>however</b> a select few pose as an <b>immenent danger to earth.</b> Scroll down to view our list of <b>7 near earth asteroids</b> that <b>could hit earth</b> in the next decade or century. &darr;</p>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <div class="mobileeffects">
        <img src="static/asteroidhitearth.png" class="articleimg mobileeffect" style="margin-top: 1em; width: 50%;" alt="Picture of an asteroid in our near earth asteroid list.">
            </div>

        <p style="font-size: 13px;" class="mobileeffect">Photo: An asteroid that could hit earth in 2029 named Apophis. &darr;</p>
        <p style="font-size: 13px;" class="mobileeffect"><a href="/home" class="btn btn-primary">View Homepage</a></p>
        <hr>
        <h2 class="mobileeffect" style="font-size: 23px; margin-top: 1em;">Asteroids Near Earth List: These Asteroids Could Destroy Earth</h2>
        <br>
        <p class="mobileeffect" style="font-size: 18px; "><b>1)</b> 2017 PDC</p>
        <p class="mobileeffect"><b>Summary:</b> According to a statement from the <b>NASA Jet Propulsion Lab</b>, <b>Asteroid</b> <b>PDC 2017</b> will <b>almost <span style="color: red;">certainly</span> hit earth in <span style="color: red;">2027</span>.</b> The exact date for this impact is <b>July 21st, 2027.</b> It is estimated that local populations could be affected by <b>blast overpressure and tsunamis,</b> not to mention the <b>intial impact effects.</b> Furthermore, when the asteroid flies over earth to its impact location, civilization under the asteroid would be <b>severely affected</b> by overpressure. </p>
        <p class="mobileeffect"><b>Diameter: </b>200 to 280 Meters</p>
        <p class="mobileeffect"><b>Could Hit Earth On: </b>July 21st, 2027</p>
        <p class="mobileeffect"><b>Possible Effects: </b><b>Overpressure</b> and <b>Tsunamis</b> (Not including <b>initial impact</b> effects which would <b>kill everything</b> in a vicinity)</p>
        <p class="mobileeffect"><b>Percentage of Impact: </b><b style="color: red;">96%</b> Chance of Impact <b>(Almost Certain)</b></p>
        <p class="mobileeffect"><b>Fact: </b>NASA has planned a research mission to rendezvous with Asteroid 2017 PDC.</p>
        <hr>
        <p class="mobileeffect" style="font-size: 18px;"><b>Scary: &rarr; </b>Control <b>nature</b> and try inputting the <b>size of 2017 PDC</b> into our <b>asteroid damage simulator</b> and see the <b>catostrophic damages</b> it could cause to <b>your city!</b> &darr;</p>
        <p class="mobileeffect" style="font-size" 14px;>See how <b>your community</b> would be <b>destroyed</b> if an asteroid <b>hit earth:</b></p>
        <p class="mobileeffect" style="font-size: 13px;"><b>Asteroid Sim Preview: &darr;</b></p>
                <img src="static/2024sim.png" class="mobileeffect" style="width: 43%; border-radius: 5px;" alt="Asteroid collision simulator that shows destruction from asteroids">
            <a class="btn btn-danger" href="/" style="margin-right: 25%; margin-left: 25%; margin-top: 1em;">&rarr; Open Simulator</a>
            <hr>
        <p class="mobileeffect" style="font-size: 18px; margin-top: 2em;"><b>2)</b> 99942 Apophis</p>
        <p class="mobileeffect"><b>Summary:</b> This asteroid could <b>hit earth</b> in <b>2029</b>. It is stated that even if Apophis misses earth in 2029, it's next orbit puts it at a <b>higher chance of hitting earth in 2037.</b> 99942 Apophis was discovered on June 19th, 2004.</p>
        <p class="mobileeffect"><b>Height:</b> 450 meters (1477 Feet)</p>
        <p class="mobileeffect"><b>Diameter:</b> 370 meters (1213 Feet)</p>

        <p class="mobileeffect"><b>Weight:</b> 27.99 Billion Kilograms</p>
        <p class="mobileeffect"><b>Collision Chance Years:</b> 2029 or 2037 </p>
        <p class="mobileeffect"><b>Suggestion:</b> Try inputting the <b>diameter/height</b> to our <a href="https://asteroidcollision.herokuapp.com/">asteroid collision map</a> to simulate and view the terrible effects that Apophis could <b>cause to your community or town!</b></p>
        <p class="mobileeffect"><b>Want</b> to <b>learn more</b> about how Apophis could <b>effect humanity?</b> Click on the <b>article below</b> to learn more! &darr;</p>
        <p class="mobileeffect"><b>Article: </b><a href="https://asteroidcollision.herokuapp.com/asteroid-hit-earth">Will an asteroid hit earth in 2029? This one could.</a></p>




        <p class="mobileeffect" style="font-size: 18px; margin-top: 2em"><b>3)</b> 1037 Ganymed</p>
        <p class="mobileeffect"><b>Summary:</b> Ganymed is the largest near earth asteroid at a whopping size of 30 kilometers in diameter, more than enough to wipe civilization off earth and destroy an entire continent. Fortunatley, they is little to no chance of Ganymed hittig earth.</p>
        <p class="mobileeffect"><b>Approximate Mean Diameter:</b> 31.7 Kilometers (19.7 Miles)</p>
        <p class="mobileeffect"><b>Weight: </b>3.3e+17 kilograms (3.3 x 10^7 Kilograms)</p>
        <p class="mobileeffect"><b>Next Near Pass: </b>October 13th, 2024</p>
        <p class="mobileeffect"><b>Discovered On: </b>October 23rd, 1924</p>
        <p class="mobileeffect"><b>Speed: </b>37714 Miles Per Hour (17.87 Kilometers Per Second)</p>
        <p class="mobileeffect"><b>Fact: </b>Ganymed will make a close pass on October 13th, 2024. It will closely pass earth almost exactly 100 years after it was first discovered.</p>

        <p class="mobileeffect" style="font-size: 18px; margin-top: 2em"><b>4)</b> 2007 FT3</p>
        <p class="mobileeffect"><b>Summary:</b> This asteroid could <b>hit earth</b> in <b>2024</b>. However according to NASA, the chances of collision are extremely slim. Although one should not be worried about FT3, must must begin to prepare ourselves for an asteroid collision of a large magnitude that we cannot prevent. FT3's orbit is not observable so it's location is <b>currently lost.</b></p>
        <p class="mobileeffect"><b>Diameter:</b> 340 meters (110 Feet)</p>
        <p class="mobileeffect"><b>Observation Arc:</b> 1.2 Days</p>
        <p class="mobileeffect"><b>Collision Chance Years:</b> 2024</p>
        <p class="mobileeffect"><b>Suggestion:</b> Try inputting the <b>diameter/height</b> to our <a href="/">asteroid collision map</a> to simulate and view the terrible effects that Apophis could cause.</p>
        <p class="mobileeffect">2007 FT3 (Asteroid) was identified by NASA and classified as an <b>asteroid that could hit earth in 2024.</b> According to NASA's Sentry program, FT3 (Asteroid) is about <b>340 meters</b> in diameter. <b>(Also 1100 Feet)</b></p>
        <p class="mobileeffect" style="font-size: 17px;"><b>&rarr; Make sure to check out our article about 2007 FT3 called: </b> <a href="https://asteroidcollision.herokuapp.com/asteroid-earth">This asteroid could hit earth in 2024.</a></p>
<hr>

        <p class="mobileeffect" style="font-size: 18px; margin-top: 2em"><b>5)</b> 101955 Bennu</p>
        <p class="mobileeffect"><b>Summary:</b> 101955 Bennu is an asteroid that will probably <b>never</b> hit earth in our time. However it could <b>hit in 2135</b>. If it does hit earth in 2135, the damages would be catostrophic. Scientists say that asteroids similar to Bennu hit earth <b>every 130000 years.</b> </p>
        <p class="mobileeffect"><b>Height:</b> 450 meters (1477 Feet)</p>
        <p class="mobileeffect"><b>Mean Diameter:</b> 500 meters (1750 Feet)</p>

        <p class="mobileeffect"><b>Weight:</b> 78 Billion Kilograms</p>
        <p class="mobileeffect"><b>Collision Chance Years:</b> 2135</p>


        <p class="mobileeffect" style="font-size: 18px; margin-top: 2em"><b>7)</b> 2101 Adonis</p>
        <p class="mobileeffect"><b>Summary:</b> Adonis is classified as a <b>potentially hazardous object/asteroid</b> however it is <b>unlikely</b> for it to hit earth in the coming years. Adonis is also a primary target to land a spacecraft on for research, NASA says.</p>
        <p class="mobileeffect"><b>Mean Diameter:</b> 520 - 700 Meters (Similar to that of the Golden Gate Bridge)</p>
        <p class="mobileeffect"><b>Discovered: </b>February 12th, 1937</p>
        <p class="mobileeffect"><b>Fact: </b>Adonis makes close approaches with Mars and Venus, not to mention earth.</p>

        <p class="mobileeffect" style="font-size: 18px; margin-top: 2em"><b>7)</b> 4487 Mithra</p>
        <p class="mobileeffect"><b>Summary:</b> Mirtha is a <b>potentially hazardous object/asteroid</b> however it is <b>unlikely</b> for it to hit earth in the coming years. 4487 Mirtha is approximately 2 kilometers in diameter and could cause worldwide extinction if impacting earth. According to NASA, asteroids over 1 kilometer in diameter could cause an impact winter because of dust and dirt being kicked into the atmosphere, blocking the suns rays.</p>
        <p class="mobileeffect"><b>Approximate Mean Diameter:</b> 2 kilometers (1.85 Exact In Meters)</p>
        <p class="mobileeffect"><b>Discovered: </b>February 12th, 1937</p>
        <p class="mobileeffect"><b>Fact: </b>Adonis makes close approaches with Mars and Venus, not to mention earth.</p>

        <p class="mobileeffect">According to the <b>linked simulation,</b> a worst case scenario could cause <b>disastrous effects</b> like skin burns, shockwaves, tsunamis, destroyed infastructure, and deaths.</p>
        <p class="mobileeffect">However, these results are unlikely because most of the world is <b>rural and unpopulated.</b> This means that an <b>asteroid collision</b> with these areas would result in <b>little to no casualties.</b> </p>
        <p class="mobileeffect">Furthermore, <b>70%</b> of the earths surface is accounted for by ocean. While huge asteroids can cause <b>dangerous tsunamis,</b> 2007 FT3 is not even close to that threat level.</p>
<!--        <br>-->
<!--        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<!--<ins class="adsbygoogle mobileeffect" style="margin-bottom: 1em;"-->
<!--     style="display:block; text-align:center;"-->
<!--     data-ad-layout="in-article"-->
<!--     data-ad-format="fluid"-->
<!--     data-ad-client="ca-pub-2104427707154383"-->
<!--     data-ad-slot="5772102945"></ins>-->
<!--<script>-->
<!--     (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--</script>-->
            <img src="static/tsunami.png" class="mobileeffect" style="width: 50%; margin-bottom: 2em; margin-top: 1em;">
        <p class="mobileeffect">Currently, it is proclaimed that FT3's chance of impact is <b>extremely</b> low. With varying impact percentages it can be impossible to know the true number, however it can be predicted that FT3 most likely not impact earth on October 2nd, 2022.</p>


        <p class="mobileeffect">Even though 2007 FT3 probably <b>won't hit earth,</b> these near misses prove a point that we must be ready for a situation similar to this. With growing concerns that extinction causing asteroids are coming our way, we need to be prepared.</p>
        <p class="mobileeffect">Scientists state that we are <b>5 million years overdue</b> for a <b>major asteroid collision</b> similar to the one that extincted the dinosaurs.</p>
        <hr>
        <p class="mobileeffect" style="font-size: 18px;">Want to control nature and <b>simulate asteroid collisions</b> yourself? Check out this interactive map!</p>        <a href="/" class="btn btn-danger mobileeffect">View Map!</a>

        <div id="NearEarthAsteroidForm" class="whyhellothere">
  <form class="form-container">
    <div style="background-color: #f2f9f9; border-radius: 10px;">
        <p style="margin-left: 1em; margin-right: 1em; font-weight: bold; padding-top: 1em;">Popup:</p>

        <p style="margin-left: 1em; margin-right: 1em;">Posess the powers of nature and <b>destroy earth with asteroids using our asteroid collision simulator!</b></p>
        <p style="margin-left: 1em; margin-right: 1em;">See how <b>your city</b> would be <b>destroyed</b> if an asteroid hit earth!</p>

        <p style="margin-left: 1em; margin-right: 1em;">Click the <b>"Open"</b> button to <b>Get Started!</b></p>

        <br>
        <a href="/" style="color: green;" class="btn open">Open</a>
            <button type="button" class="btn cancel" onclick="begoneee()" style="color: red;">Close</button>

    </div>

  </form>
</div>
        <hr><p style="margin-left: 1em; text-align: center;">2020 Asteroid Collision Map &copy;</p>
        <script>
              document.getElementById("NearEarthAsteroidForm").style.display = "block";
              function begoneee() {
                document.getElementById("NearEarthAsteroidForm").style.display = "none";
              }
        </script>
</body>
</html>