<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="One asteroid which will hit earth in 2027 could cause disastrous damages to society and change our lives.">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
    <title>Which asteroid will hit earth? - 96% Chance of Hitting</title>
    <meta name="google-site-verification" content="ENQ9n1V4rvA7leMytUmttgBGMMBaH5NBZXMNwnWZDg0" />
<!--    <script data-ad-client="ca-pub-2104427707154383" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
</head>
<style>
    #header {
    width: 100%;
    background-color: #f2f2f2;
    height: 30px;
}

#container {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}
#first {
    width: 0%;
    float: left;
    height: 100%;
    background-color: #f2f2f2;
}
#second {
    width: 100%;
    float: left;
    height: 100%;
    background-color: #f2f2f2;
}

.mobileeffect {
    margin-left: 25%;
    margin-right: 25%;
}

@media (max-width: 770px) {
    #second {
        width: 100%;
        float: left;
        height: 100%;
        background-color: #f2f2f2;
    }
    #first {
        width: 0%;
        float: left;
        height: 100%;
        background-color: #f2f2f2;
    }
}


articleimg {
    width: 200px;
    height: 100%;
}
.twitter-share-button {
     margin-left: 25%;
}
.whyhellothere {
  width: 210px;
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}
</style>
<body>

<div id="container">
    <div id="second" style="margin-top: -1.75em; overflow-y: auto; overflow-x: hidden;"><br>
        {% include '_navbar3.html' %}
        <h1 style="font-size: 30px; margin-top: 1em; font-weight: bold;" class="mobileeffect"> Which Asteroid Will Hit Earth Next? This Asteroid Has A <span style="color: red;"><span style="color: red;">96%</span></span> Chance of Hitting Earth in 2027.</h1>
        <p class="mobileeffect">By Paul McBurney | March 22nd, 2020</p>
        <hr>
        <p class="mobileeffect">In <b>2027</b>, an asteroid called <b>2017 PDC</b> has a <b><span style="color: red;">96%</span> chance</b> of hitting earth. A percentage of this <b>extent</b> means that this asteroid has an <b>extremely high</b> chance of <b>hitting earth.</b></p>
        <p class="mobileeffect">Inside this article, you'll learn about the <b>damages and effects</b> that <b>2017 PDC</b> could cause. You'll also realize how this <b>asteroid collision could change your life.</b></p>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <div class="mobileeffects">
        <img src="static/asteroidhittingearth.png" class="articleimg mobileeffect" style="margin-top: 1em; width: 50%;" alt="Picture of an asteroid in our near earth asteroid list.">
            </div>

        <p style="font-size: 13px;" class="mobileeffect"><b>Photo:</b> An asteroid that will hit earth in 2027 named 2017 PDC. &darr;</p>
        <p style="font-size: 13px;" class="mobileeffect"><a href="/blog" class="btn btn-primary">View More Articles</a></p>
        <hr>
        <h2 class="mobileeffect" style="font-size: 23px; margin-top: 1em;">2017 PDC: The asteroid that <b>will</b> hit earth in 2027.</h2>
        <br>

        <p class="mobileeffect">According to the NASA Jet Propulsion Lab, <b>asteroid 2017 PDC</b> has a <b>96%</b> chance of hitting earth in <b>2027</b>.</p>
        <p class="mobileeffect">Even though the 2017 PDC Asteroid only has a diameter of between 100 meters and 250 meters, it could still cause <b>devastating destruction.</b></p>
        <p class="mobileeffect">For example, a paper from <b>NASA's JPL</b> states that countries could be affected by <b>overpressure, "land impact or airbust."</b></p>
        <p class="mobileeffect">Additionally, the same paper from the <b>Jet Propulsion Lab</b> states that the asteroid impact will most likely occur in <b>China, Japan, North Korea, South Korea, or the Pacific Ocean.</b></p>
        <img src="static/Path.png" class="mobileeffect" style="width: 48%; margin-top: 1em;">
        <p style="font-size: 13px; margin-bottom: 1em;" class="mobileeffect"><b>2017 PDC Impact Location Predictions Path | Locations in which 2017 PDC could hit. </b> <br> <a href="https://www.openstreetmap.org/copyright" rel="nofollow">© OpenStreetMap</a> contributors | Data under OpenDatabaseLicense</p>

        <p class="mobileeffect" style="margin-top: 2em;">For example, the picture above shows the <b>possible impact locations</b> represented by the red line. <b>2017 PDC</b> could hit earth<b> within the boundaries</b> of the line baove.</p>
        <h2 style="font-size: 20px; font-weight: bold; margin-top: 2em; margin-bottom: 1em;" class="mobileeffect">Possible Damages/Effects:</h2>
        <p class="mobileeffect">The impact of a <b>relatively small</b>  asteroid like PDC could still cause <b>catastrophic damages</b>. Some of these effects include <b>airbursts or overpressure</b>, not to mention the initial impact effects. <b>Overpressure</b> occurs when an asteroid hovers over earth and causes <b>shockwave(s)</b> as a result of <b>sonic booms</b> or <b>explosions</b>.</p>
        <p class="mobileeffect" style="margin-bottom: 2em;">Some <b>initial impact effects</b> to an asteroid similar to PDC consist of <b>heat radiation</b> and <b>shock waves</b>. Furthermore, if an asteroid hits a body of water it is possible for a <b>tsunami</b> to be formed. Also, <b>large craters</b> will be created depending on the <b>original size</b> of the asteroid.</p>
        <img src="static/175Meter.png" class="mobileeffect" style="width: 50%; border-radius: 5px;">
        <p style="font-size: 14px;" class="mobileeffect"><b>Photo:</b> Screenshot from an <a href="https://asteroidcollision.herokuapp.com/">asteroid impact simulator</a> that lets users <b>destroy earth</b> with <b>asteroids</b> and view the effects. &darr;</p>
        <p class="mobileeffect">According to photo above, PDC could cause <b>catastrophic damages</b> if it landed in a <b>metropolitan</b> area. However this unlikely as most of the world is <b>rural</b>. Also, PDC's predicted impact path <b>does not</b> put it on track to <b>hit large cities</b> in Asia. Nonetheless, PDC's path of impact still spans over <b>several populated countries</b>.</p>

        <p class="mobileeffect">With that being said, we are <b>extremely unprepared</b> for a <b>global catastrophe</b> like an <b>asteroid collision</b>, disease outbreak, or natural disaster. We must make sure that the human race is <b>prepared</b> to take on these feats.</p>

        <hr>

        <p class="mobileeffect" style="font-size: 18px;">Want to <b>simulate asteroid collisions</b> yourself? Destroy earth with this interactive map!</p>        <a href="/" class="btn btn-danger mobileeffect">View Map!</a>

        <div id="NearEarthAsteroidForm" class="whyhellothere">
  <form class="form-container">
    <div style="background-color: #f2f9f9; border-radius: 10px;">
        <p style="margin-left: 1em; margin-right: 1em; font-weight: bold; padding-top: 1em;">Popup:</p>

        <p style="margin-left: 1em; margin-right: 1em;">Control nature and <b>destroy earth with asteroids using our asteroid collision simulator!</b></p>
        <p style="margin-left: 1em; margin-right: 1em;">See how <b>your city</b> would be <b>destroyed</b> if an asteroid hit earth!</p>

        <p style="margin-left: 1em; margin-right: 1em;">Click the <b>"Open"</b> button to <b>Get Started!</b></p>

        <br>
        <a href="/" style="color: green;" class="btn open">Open</a>
            <button type="button" class="btn cancel" onclick="begoneee()" style="color: red;">Close</button>

    </div>

  </form>
</div>
        <hr><p style="margin-left: 1em; text-align: center;">2020 Asteroid Collision Map &copy;</p>
        <script>
              document.getElementById("NearEarthAsteroidForm").style.display = "block";
              function begoneee() {
                document.getElementById("NearEarthAsteroidForm").style.display = "none";
              }
        </script>
</body>
</html>