<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Random Simulations Visualizations, and Generators on random topics like natural disasters, asteroids and names.">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
    <title>Random Simulations And Visualizations</title>
    <meta name="google-site-verification" content="ENQ9n1V4rvA6leMytUmttgBGMMBaH5NBZXMNwnWZDg0" />
<!--    <script data-ad-client="ca-pub-2104426707154383" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
</head>
<style>
    #header {
    width: 100%;
    background-color: #f2f2f2;
    height: 30px;
}

#container {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}
#first {
    width: 0%;
    float: left;
    height: 100%;
    background-color: #f2f2f2;
}
#second {
    width: 100%;
    float: left;
    height: 100%;
    background-color: #f2f2f2;
}
@media (max-width: 760px) {
    #second {
        width: 100%;
        float: left;
        height: 100%;
        background-color: #f2f2f2;
    }
    #first {
        width: 0%;
        float: left;
        height: 100%;
        background-color: #f2f2f2;
    }
}

</style>
<body>

<div id="container">
    <div id="second" style="margin-top: -1.75em; overflow-y: auto; overflow-x: hidden;"><br>
        {% include '_navbar.html' %}
        <h1 style="text-align: center; font-size: 23px; font-weight: normal; margin-left: 1em;"> Random Simulations And Visualizations</h1>
        <p style="text-align: center; margin-left: 1em; font-size: 14px;">Use the <b>simulations</b> below to <b>empower</b> and <b>educate</b> yourself about natural occurances around the world. Some of the topics we simulate are astrononmy, asterodis, natural disasters and more! Be sure to check out <b><a href="/blog">the blog</a></b> too!&darr;</p>
        <br>
<!--        <p style="text-align: center; margin-left: 1em; font-size: 14px;">Don't want to learn with simulations and maps? Try out some of our generators in the subsection of our websites. Click the button below to be taken to the generator part of Asteroid Collision!</p>-->
<!--        <center>-->
<!--        <a href="/generators" class="btn btn-danger" style="text-align: center;">Go View Generators</a>-->
<!--            </center>-->
<!--        <br>-->
        <p style="text-align: center; margin-left: 1em; font-size: 14px;">Continue scrolling for more simulations and maps! &darr;</p>

        <hr>
        <div class="container">
            <p style="font-size: 16px; font-weight: bold;">Asteroid Collision Simulator Map:</p>
        <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Asteroid Collision Simulator" src="{{ url_for('static', filename='AsteroidPreview.png') }}">
                <div class="card-body">
                    <p class="card-text"><b>Asteroid Simulation</b> where you can view the damages that a devestating asteroid collision would cause.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/" type="button" class="btn btn-sm btn-outline-secondary">Open Simulation</a>
                    </div>
                    <small class="text-muted">Last Edit:  3/6/2020</small>
                  </div>
                </div>
              </div>
            </div>
        </div>
                        <p style="font-size: 16px; font-weight: bold;">Asteroid Collision Location Map:</p>
<div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Asteroid Collision Location Map" src="{{ url_for('static', filename='antartica.png') }}">
                <div class="card-body">
                    <p class="card-text"><b>Asteroid Collision Location Map</b> - Locate the Locations of all major known asteroid collisions</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/asteroid-collision-location-map" type="button" class="btn btn-sm btn-outline-secondary">Open Map Simulation</a>
                    </div>
                    <small class="text-muted">Last Edit:  3/6/2020</small>
                  </div>
                </div>
              </div>
        </div>

    </div>
            <p style="font-size: 16px; font-weight: bold;">Coronavirus Case Location Map:</p>
<div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Coronavirus Case Location Map" src="{{ url_for('static', filename='SKcorona.png') }}">
                <div class="card-body">
                    <p class="card-text"><b>Coronavirus Case Location Map</b> - Locations of all known cases of Coronavirus on an interactive map..</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/coronavirus-location-map" type="button" class="btn btn-sm btn-outline-secondary">Open Map</a>
                    </div>
                    <small class="text-muted">Last Edit:  3/6/2020</small>
                  </div>
                </div>
              </div>
        </div>
</div>
                                    <p style="font-size: 16px; font-weight: bold;">Earthquake Location Map:</p>
<div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Earthquake Location Map" src="{{ url_for('static', filename='earthquakesimulator.png') }}">
                <div class="card-body">
                    <p class="card-text"><b>Earthquake Location Map</b> - Locate the Locations of all major known earthquakes. Magnitudes and depth are also included.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/earthquake-location-map" type="button" class="btn btn-sm btn-outline-secondary">Open Map Simulation</a>
                    </div>
                    <small class="text-muted">Last Edit:  3/6/2020</small>
                  </div>
                </div>
              </div>
        </div>
</div>
                                                <p style="font-size: 16px; font-weight: bold;">Nuke Detonation Map:</p>

    <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Nuke Location Map" src="{{ url_for('static', filename='nukeimg.png') }}">
                <div class="card-body">
                    <p class="card-text"><b>Nuke Detonation Location Map</b> - Locate the detonation location of all major known nuke detonatinos. Yield, country and date are also included when hovering over the detonation location..</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/nuke-detonation-location-map" type="button" class="btn btn-sm btn-outline-secondary">Open Nuke Simulation</a>
                    </div>
                    <small class="text-muted">Last Edit:  3/6/2020</small>
                  </div>
                </div>
              </div>
        </div>

<!--    <div id="first">-->
<!--            {% include 'map.html' %}-->
<!--    </div>-->
</div>
                                                <p style="font-size: 16px; font-weight: bold;">Interactive Volcano Location Map:</p>
            <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Volcano Eruption Map" src="{{ url_for('static', filename='volcano.png') }}">
                <div class="card-body">
                    <p class="card-text"><b>Volcano Location Map</b> - Locate the volcano locations of all major known volcano eruptions. The interactive map includes casualties, location and date when hovering over markers on the map.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/volcano-location-map" type="button" class="btn btn-sm btn-outline-secondary">Open Volcano Map</a>
                    </div>
                    <small class="text-muted">Last Edit: 3/6/2020</small>
                  </div>
                </div>
              </div>
        </div>

</div>
            <hr>
<p style="margin-left: 1em; text-align: center;">Asteroid Collision Map &copy;</p>

</body>
</html>
