<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Nuke Detonation Location Map enables you to know the locations of Nuke Detonations worldwide and global nuke detonations on earth.">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
    <title>Nuke Detonation Location Visualization - Map</title>
    <meta name="google-site-verification" content="ENQ9n1V4rvA6leMytUmttgBGMMBaH5NBZXMNwnWZDg0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>

    #header {
    width: 100%;
    background-color: #f2f2f2;
    height: 30px;
}

#container {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}
#first {
    width: 75%;
    float: left;
    height: 100%;
    background-color: #f2f2f2;
}
#second {
    width: 25%;
    float: left;
    height: 100%;
    background-color: #f2f2f2;
}
@media (max-width: 760px) {
    #second {
        width: 50%;
        float: left;
        height: 100%;
        background-color: #f2f2f2;
    }
    #first {
        width: 50%;
        float: left;
        height: 100%;
        background-color: #f2f2f2;
    }
}
.maintag {
    font-size: 16px; padding-left: 1em; margin-right: 1em;
}
.desktopandmobile {
    width: 100%;
    min-height: 82em;
}
.nukedetonationlocationmapservice {
  width: 180px;
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 9;
}
</style>
<body>

<div id="container" style="">
    <div id="second" style="margin-top: -1.75em; overflow-y: auto; overflow-x: hidden;"><br>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:-50%;">
  <a class="navbar-brand" href="/" style="font-size: 25px;"><strong>Nuke Detonation Location Map</strong></a>
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="text-align: center; margin-left: 40%;">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
  <div class="collapse navbar-collapse" id="navbarNav" style="float: right;">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home" style="font-size: 20px;">Home <span class="sr-only">(current)</span></a>
      </li>


    </ul>
  </div>
</nav>        <div class="">
            <h1 style="font-size: 20px; padding-left: 1em; font-weight: normal;"> <strong>Nuke Detonation Location Map</strong></h1>
            <h2 style="font-size: 15px; padding-left: 1.3em; font-weight: normal; margin-top: 1em;"> Worldwide Nuke Detonation Visualization Map </h2>
            <a href="/questions" style="font-size: 12px; padding-left: 1.6em; margin-top: 2em;"> Learn More</a>
            </div>
        <p style="padding-left: 1em; padding-right: 1em; font-size: 15px; margin-top: 16px;"> Welcome to <b>Nuke Detonation Location Map.</b> Locate and visualize the locations of all discovered major Nuke Detonations from 1945 to 1988. Nuke Detonations are shown if their magnitude is greater than 6.5! &darr;</p>
        <hr>

        <p class="maintag"><b>Click!</b> Click the button below to show the locations of all known major Nuke Detonations greater than 6.5 magnitude.</p>
        <center>
        <form action="/nuke-detonation-location-map", method="post">
            <button type="submit" class="btn btn-lg btn-secondary" style="background-color: #ff4d4d; margin-top: 13px; margin-left: 1em; font-size: 15px; margin-right: 1em;"> Show Detonations</button>
        </form>
            </center>
        <hr>
<p class="maintag"><b>Steps: </b>Follow the directions below to understand the Nuke Detonation Location Map!</p>
        <hr>
        <p class="maintag"> <b> 1.</b> First, click the button to show the locations of all Nuke Detonations. Then locate the locations of Nuke Detonations. These areas are marked with markers with their color depending on severity/yield of Nuke Detonation. </p>
        <p class="maintag"> <b> 2.</b> Hover over the location of the Nuke Detonation. When you hover over this location, a box will popup giving information about the certain Nuke Detonation.</p>
        <p class="maintag"> <b> 3.</b> After knowing the location of the Nuke Detonation, you can hover over the marker and view information about the Nuke Detonation like its <b>yield, depth, country, and date of detonation.</b> All very helpful and insightful statistics, all while knowing the location of the Nuke Detonation! The recorded time period is from 1945 to 1988.</p>
        <hr>

        <hr>
        <p style="font-size: 12px; margin-left: 1em;"> Worldwide Nuke Detonation Location Map <b>&copy;</b></p>
        <div id="NukeForm" class="nukedetonationlocationmapservice">
  <form class="form-container">
    <div style="background-color: #f2f9f9; border-radius: 10px; font-size: 15px;">
        <p style="margin-left: 1em; margin-right: 1em; font-weight: bold;">Popup:</p>
        <hr>
        <p style="margin-left: 1em; margin-right: 1em;"><b>Simulate asteroid collisions</b> yourself and see how <b>your community would be destroyed</b> if an asteroid hit earth! Use our <b>simulator</b> to get started!</p>

        <p style="margin-left: 1em; margin-right: 1em;">Click the <b>"Open"</b> button to <b>Get Started!</b></p>

        <br>
        <a href="/" style="color: green;" class="btn open">Open</a>
            <button type="button" class="btn cancel" onclick="begoneee()" style="color: red;">Close</button>

    </div>

  </form>
</div>

    </div>
<!--        <footer style="bottom: 0;"> Nuke Detonation Simulations</footer>-->
    <div id="first" style="">
        {% include 'map.html' %}
<!--                <iframe src="/ret-map" class="desktopandmobile" scrolling="no" frameborder="0" style="width: 100%;"></iframe>-->
    </div>
</div>

        <script>
              document.getElementById("NukeForm").style.display = "block";
              function begoneee() {
                document.getElementById("NukeForm").style.display = "none";
              }
        </script>
</body>
</html>

