<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Earthquake Location Map enables you to know the locations of earthquakes globally on earth.">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
    <title>Earthquake Location Map</title>
    <meta name="google-site-verification" content="ENQ9n1V4rvA6leMytUmttgBGMMBaH5NBZXMNwnWZDg0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>

    #header {
    width: 100%;
    background-color: #f2f2f2;
    height: 30px;
}

#container {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}
#first {
    width: 75%;
    float: left;
    height: 100%;
    background-color: #f2f2f2;
}
#second {
    width: 25%;
    float: left;
    height: 100%;
    background-color: #f2f2f2;
}
@media (max-width: 760px) {
    #second {
        width: 50%;
        float: left;
        height: 100%;
        background-color: #f2f2f2;
    }
    #first {
        width: 50%;
        float: left;
        height: 100%;
        background-color: #f2f2f2;
    }
}
.maintag {
    font-size: 16px; padding-left: 1em;
}
</style>
<body>

<div id="container" style="">
    <div id="second" style="margin-top: -1.75em; overflow-y: auto;"><br>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:-50%;">
  <a class="navbar-brand" href="/" style="font-size: 25px;"><strong>Earthquake Location Map</strong></a>
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="text-align: center; margin-left: 40%;">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
  <div class="collapse navbar-collapse" id="navbarNav" style="float: right;">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home" style="font-size: 20px;">Home <span class="sr-only">(current)</span></a>
      </li>


    </ul>
  </div>
</nav>        <div class="">
            <h1 style="font-size: 20px; padding-left: 1em; font-weight: normal;"> Earthquake Location Map</h1>
            <h2 style="font-size: 15px; padding-left: 1.3em; font-weight: normal; margin-top: 1em;"> Worldwide Earthquake Location Map </h2>
            <a href="/questions" style="font-size: 12px; padding-left: 1.6em; margin-top: 2em;"> Learn More</a>
            </div>
        <p style="padding-left: 1em; padding-right: 1em; font-size: 15px; margin-top: 16px;"> Welcome to <b>Earthquake Location Map.</b> Locate the locations of all discovered major earthquakes from 1965 to the near 21st century. Earthquakes are shown if their magnitude is greater than 6.7! &darr;</p>
        <hr>
        <p class="maintag"><b>Click!</b> Click the button below to show the locations of all known major earthquakes greater than 6.5 magnitude.</p>
        <form action="/earthquake-location-map", method="post">
            <button type="submit" class="btn btn-lg btn-secondary" style="background-color: #ff4d4d; margin-top: 13px; margin-left: 1em;"> Show Locations Of All Earthquakes </button>
        </form>
        <hr>
                    <p style="color: red; padding-left: 1em;"> {{ message }} </p>
        <p class="maintag"><b>Steps: </b>Follow the directions below to understand the earthquake location simulation map!</p>
        <hr>
        <p class="maintag"> <b> 1.</b> First, click the button to show the locations of all earthquakes. Then locate the locations of Earthquakes. These areas are marked with markers with their color depending on severity/magnitude of earthquake. </p>
        <p class="maintag"> <b> 2.</b> Hover over the location of the earthquake. When you hover over this location, a box will popup giving information about the certain earthquake.</p>
        <p class="maintag"> <b> 3.</b> After knowing the location of the earthquake, you can hover over the marker and view information about the earthquake like its <b>magnitude, depth, time, and date of impact.</b> All very helpful and insightful statistics, all while knowing the location of the earthquake! </p>
        <hr>
        <p class="maintag"><b>Click!</b> Click the button below to show the locations of all known major earthquakes greater than 6.5 magnitude.</p>
        <form action="/earthquake-location-map", method="post">
            <button type="submit" class="btn btn-lg btn-secondary" style="background-color: #ff4d4d; margin-top: 13px; text-align: center;"> Show Locations Of All Earthquakes </button>
        </form>
        <hr>
        <p style="font-size: 12px; margin-left: 1em;"> Worldwide Earthquake Location Map <b>&copy;</b></p>
<div style="position: absolute; bottom: 5px; left: 5px;">

    </div>
    </div>
<!--        <footer style="bottom: 0;"> Earthquake Simulations</footer>-->
    <div id="first">
            {% include 'EarthquakeLocationMap.html' %}
    </div>
</div>


</body>
</html>

